.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: rgb(255, 246, 183);
  background: linear-gradient(
    149deg,
    rgba(255, 246, 183, 1) 2%,
    rgba(246, 65, 108, 1) 63%
  );
}
.App-ig {
  background: rgb(64, 93, 230);
  background: linear-gradient(
    193deg,
    rgba(64, 93, 230, 1) 0%,
    rgba(88, 81, 219, 1) 6%,
    rgba(131, 58, 180, 1) 19%,
    rgba(246, 65, 108, 1) 42%,
    rgba(225, 48, 108, 1) 52%,
    rgba(253, 29, 29, 1) 64%,
    rgba(245, 96, 64, 1) 74%,
    rgba(247, 119, 55, 1) 77%,
    rgba(252, 175, 69, 1) 84%,
    rgba(255, 220, 128, 1) 93%
  );
}
.Color {
  color: rgb(255, 246, 183);
  color: linear-gradient(
    164deg,
    rgba(255, 246, 183, 1) 0%,
    rgba(250, 151, 144, 1) 22%,
    rgba(246, 65, 108, 1) 63%
  );
}
.container-mobile {
  margin: auto;
  height: 852px;
  max-width: 393px;
  width: 100%;
  background-color: #576a9c;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
